.searchBar_selectBar {
  margin-bottom: 5px;
}

.searchBar_selectBar form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 400px;
  margin: 0 auto;
}

.searchBar_selectBar input[type="text"],
.searchBar_selectBar select {
  width: 48%;
  padding: 8px;
  margin: 0;
}

.container {
  padding-top: 20px;
}
